body
{
    background-color: rgb(156, 238, 89);
    color: black;
}

a
{
    color: rgb(153, 153, 153);
}

#elso
{
    width: 980px;
    margin: auto;
    background-color: rgb(80, 144, 80);
}

#elso tr li
{
    margin: 0;
}

#masodik
{
    width: 940px;
    margin: auto;
    background-color: white;
}
#masodik tr td
{
    margin: 0px;
    padding: 1px;
}

.sor2
{
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
}

#gyomlalas
{
    float: right;
    margin: 0px 5px 0px 5px;
    border: 1px solid black;
}